@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;

}

/* color section */
.dark1 {
    color: rgb(19, 19, 19);

}

.dark2 {
    color: rgb(19, 19, 19);
}

.dark3 {
    color: rgb(114, 114, 114);
}

.bg-one {
    background-color: rgba(255, 144, 14, 0.1);
}

/* shared style  */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 8px;

    background: rgb(255, 144, 14);
    border: none;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* jto gula section ache tader moddhe 130px gap */
main>section {
    margin-top: 130px;
}


/* nav style  */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}




.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}

.nav-links {
    text-decoration: none;
}

.navbar .banner {
    max-width: 100%;
    margin: 0 auto;
}

/* .header {
    padding: 50px 240px;
} */

.brand {
    font-size: 2.5rem;
    font-weight: 700;
}

/* banner container */
.banner-container {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.banner-heading {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    padding: 20px 25px;
    background: rgb(255, 144, 14);
    border: none;
}

.btn-text {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;

}

.banner-image {
    width: 100%;
}

/* team section */
.teams {
    align-items: center;
    flex: grid;

}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    margin-left: 130px;
    max-width: 530px;
}

.section-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.feature {
    color: rgb(255, 144, 14);
}

.quick-list {
    font-weight: 500;
}

.section-description {
    font-size: 1rem;
    font-weight: 400;
}

/* feature section releted style */
.features {
    gap: 140px;
}

#feature-section-title {
    padding-left: 21px;
    border-left: 5px solid rgb(255, 144, 14);
}

.feature-card .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;

}

.feature-card {
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

/* this font size for Experience word and this will be override in 10+year word due to specifi id */
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -70px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}



/* some facts card section */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 100px;

}

.fact-card {
    width: 241.83px;
    height: 241.83px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number {

    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-details {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

/* sponsor section */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsor-companies img {
    filter: grayscale();
}

/* footer */
.footer-section {
    margin: 130px auto;
    text-align: center;
    max-width: 1440px;
    max-height: 100px;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}

.footer-text {
    margin: auto;
    padding: 39px 0;
    font-size: 1.25rem;
    font-weight: 400;
}




/* learning new */
/* media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .features,
    .teams {
        flex-direction: column;
    }

    .team-image-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .our-feature {
        margin-left: 20px;

    }

    .sponsor-companies {
        justify-items: center;
        gap: 25px;
    }

    .feature-architect img {
        width: 100%;
    }

    #experience-badge {
        margin-top: -100px;
        margin-left: 20px;
    }
}



/* medium size device */
@media screen and (min-width:576px) and (max-width: 992px) {

    .teams,
    .features {
        flex-direction: column;
    }

    .our-feature {
        margin-left: 20px auto;

    }

    .team-image-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-architect img {
        width: 100%;
    }

    #experience-badge {
        margin-top: -100px;
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 25px;
    }
}